<div class="form_block" mat-dialog-title>
    <h1 class="label_form">Форма создания пользователя</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput type="text" placeholder="Алексей" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Фамилия</mat-label>
            <input matInput type="text" placeholder="Лебедев" formControlName="lastName">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Эл.почта</mat-label>
            <input matInput type="email" placeholder="test@gmail.com" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Выбор даты рождения</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>Месяц/День/Год</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label><b>Пол</b></mat-label>
            <mat-radio-button value="Мужской">Мужской</mat-radio-button>
            <mat-radio-button value="Женский">Женский</mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Ваше образование</mat-label>
            <mat-select formControlName="education">
              @for (education of educations; track education) {
                <mat-option [value]="education.value">{{education.viewValue}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ваше место работы</mat-label>
            <input matInput type="text" placeholder="ММЗ" formControlName="company">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Ваш опыт работы</mat-label>
            <input matInput type="text" placeholder="15 лет" formControlName="experience">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Ваша зарплата</mat-label>
            <input matInput type="text" placeholder="120000 руб" formControlName="package">
        </mat-form-field>
    </div>
    </div>
    <div mat-dialog-actions class="button_group">
        <button mat-raised-button>Отмена</button>
        <button mat-raised-button color="primary" type="submit">Сохранить</button>
    </div>
</form>