<div class="layout">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <div class="field">
          <mat-form-field appearance="outline" class="field">
            <input matInput placeholder="Логин" formControlName="login" />
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline" class="field">
            <input matInput type="password" placeholder="Пароль" formControlName="password" />
              <mat-error>q1</mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="!!error" class="error">{{ error }}</div>
        <button mat-flat-button type="submit">Войти</button>
      </form>
      <div class="link">
        <a routerLink="/sign-up">Зарегистрироваться</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
